/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
* {
	margin: 0;
	padding: 0;
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  background-color: white;
}

header nav:first-of-type {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.6em;
}

header img {
	width: 3.5em;
}

header p {
	font-size: 0.7em;
	background-color: #e8b3c0;
	padding: 1.1em;
	text-align: center;
	justify-content: center;
	font-family:Arial, Helvetica, sans-serif;
}

header nav img:nth-of-type(1){
	font-size: 0.6em;
	margin: auto auto auto 0;
}

header nav img:nth-of-type(2){
	font-size: 1em;
	margin: auto;
}

header nav img:nth-of-type(3){
	font-size: 2em;
	margin: auto 0 auto auto;
}

header form {
	display: flex;
	justify-content: space-between;
	margin: 0.6em;
	border: 0.5px solid black;
}

header input[type="search"] {
	width: calc(100% - 3em);
	text-indent: 0.6em;
	border: none;
	font-size: 1em;
	padding: 0.7em;
}

header button[type="submit"] {
	width: 2.5em;
	height: 2.5em;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
	border: none;
}

header nav:last-of-type {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	left: -110vw;
	transition: .5s;
}

header nav:last-of-type > section:last-of-type {
	position: relative;
	width: 10vw;
	height: 10vw;
	background-color: pink;
}
header nav:last-of-type img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: .8em;
	height: .8em;
}

header nav:last-of-type > section:first-of-type {
	width: 90vw;
	height: 100vh;
	padding: .6em;
	background-color: white;
}

header nav:last-of-type section section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

header nav:last-of-type select {
	border: none;
	font-weight: bold;
}

header nav:last-of-type ul {
	list-style: none;
}

header nav:last-of-type li {
	margin: .6em 0;
}

header nav:last-of-type a {
	display: block;
	padding: .8em;
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	background-color: #F6F5F5;
	border-radius: 5px;
}

header nav:last-of-type.zichtbaar {
	left: 0;
	transition: .5s;
}
body.zichtbaar {
	overflow-y: hidden;
}

main > section:first-of-type img {
	width: 100%;
}

main > section:nth-of-type(2) section {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
}
main > section:nth-of-type(2) section:not(main > section:nth-of-type(2) section:has(article)) {
	background-color: #f6f5f5;
}

main > section:nth-of-type(3) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(4) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(5) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(6) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(3) p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

main > section:nth-of-type(5) {
    background-color: #F4D0E1;
}

main > section:nth-of-type(5) article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

main > section:nth-of-type(5) button {
    width: fit-content;
    padding: .5em 1.5em;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
}

main > section:nth-of-type(2) section img {
	width: 30%;
}

main > section:nth-of-type(3) section img {
	width: 30%;
}

main > section:nth-of-type(4) section img {
	width: 30%;
}

main > section:nth-of-type(5) section img {
	width: 30%;
}

main > section:nth-of-type(6) section img {
	width: 30%;
}

main > section:nth-of-type(4) img {
	width: 100%;
}

main > section:nth-of-type(3) p {
	text-align: center;
	margin: 0.6em;
}

main > section:nth-of-type(4) h1 {
	background-color: beige;
}

main > section:nth-of-type(4) p {
	background-color: beige;
}

main > section:nth-of-type(4) button {
	background-color: beige;
}

main > section:nth-of-type(5) h2 {
	background-color: #F4D0E1;
	font-family:Arial, Helvetica, sans-serif;
}

main > section:nth-of-type(5) p {
	background-color: #F4D0E1;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

main > section:nth-of-type(5) button {
	background-color: #F4D0E1;
}

main > section:nth-of-type(6) h3 {
	background-color: #EDEDED;
	padding-top: 1.5em;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

main > section:nth-of-type(6) p {
	background-color: #EDEDED;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

main > section:nth-of-type(7) p {
	background-color: #EDEDED;
	color: pink;
	padding-bottom: 1em;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}



footer > section:nth-of-type(1),
footer > section:nth-of-type(2),
footer > section:nth-of-type(3) {
	background-color: #EDEDED;
	padding: .5em .5em 1em .5em;
}


footer > section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding: .5em;
	background-color: black;
	color: white;
}
footer > section:nth-of-type(4) p {
	font-weight: bold;
}

footer summary {
	display: block;
	list-style: none;
	font-weight: bold;
}
footer details summary::-webkit-details-marker {
	display: none;
}

footer summary::after {
	position: absolute;
	right: .5em;
    content: ' \002B'; /* plus */
}
footer details[open] summary::after {
    content: " \002D"; /* min */
}

footer > section:nth-of-type(4) section {
	display: flex;
	gap: 1em;
}




h1,h2 {
    color:black;
    background-color:white;
}

h3 {
	font-size: 1em;
    color:black;
    background-color:white;
    text-align:center;
}

footer {
	background-color: #F4D0E1;
}

footer > section:nth-of-type(5) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em;
}

footer > section:nth-of-type(5) img {
    height: 1.2em;
}

footer > section:nth-of-type(5) section {
    display: flex;
    gap: 1em;
}

footer > section:nth-of-type(1),
footer > section:nth-of-type(2),
footer > section:nth-of-type(3) {
 padding: 1em .3em;
 background-color: #EDEDED;
 border-top: 1px solid gray;
}

footer button {
 padding: .6em 0;
 background-color: white;
 border: 1px solid black;
 border-radius: 6px;
 font-weight: bold;
}

footer > section:nth-of-type(1) {
 display: flex;
 flex-direction: column;
 gap: .3em;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 0.8em;
}

footer > section:nth-of-type(1) form {
 position: relative;
 background-color: white;
 border: 1px solid gray;
 border-radius: 6px;
 line-height: 2em;
}

footer > section:nth-of-type(1) input[type="email"] {
 text-indent: 0.6em;
 border: none;
 padding: .6em 0;

}

footer > section:nth-of-type(1) button[type="submit"] {
 position: absolute;
 right: 0;
 width: 9em;
}

footer > section:nth-of-type(2) {
 display: grid;
 grid-template-columns: auto 7.6em;
 gap: 1em;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 0.8em;
}

footer > section:nth-of-type(2) section {
 display: flex;
 flex-direction: column;
 gap: .3em;
}

footer > section:nth-of-type(2) button {
 height: fit-content;
 margin: auto 0;
}

footer > section:nth-of-type(3) {
 display: flex;
 flex-direction: column;
 gap: .3em;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 0.8em;
}

footer > section:nth-of-type(3) button {
 width: 100%;
}












.main h1 {
    font-size: 1.2em;
    font-weight: lighter;
}

.main > section:first-of-type {
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding: .5em;
}

.main > section:first-of-type ul {
	display: flex;
	justify-content: space-between;
}
.main > section:first-of-type li {
	padding: .5em .6em;
	font-weight: bold;
	list-style: none;
	border: 1px solid gray;
	border-radius: 6px;
}
.main > section:first-of-type button {
	width: 100%;
	padding: .8em .6em;
	background-color: white;
	border: 1px solid gray;
	border-radius: 6px;
}



.main > section:nth-of-type(2) {
	background-color: white;
}

.main > section:nth-of-type(2) h2 {
	background-color: #F4D0E1;
    padding: 0.8em;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main > section:nth-of-type(2) section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: .5em;
}
.main > section:nth-of-type(2) article {
	display: flex;
	flex-direction: column;
	gap: .5em;
}
.main > section:nth-of-type(2) article img {
	width: 100%;
}

.main > section:nth-of-type(2) article p:first-of-type {
	font-weight: normal;
}
.main > section:nth-of-type(2) article p:last-of-type {
	font-weight: bold;
	margin-bottom: 1em;
}

.main > section:nth-of-type(2) button {
	width: calc(100% - 1em);
	margin: 0 .5em;
	padding: .8em .6em;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	border-radius: 6px;
}

