/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
* {
	margin: 0;
	padding: 0;
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  background-color: white;
}

header nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.6em;
}

header img {
	width: 3em;
}

header p {
	font-size: 60%;
	background-color: pink;
	padding: 1em;
}

header nav img:nth-of-type(1){
	font-size: 0.6em;
	margin: auto auto auto 0;
}

header nav img:nth-of-type(2){
	font-size: 1em;
	margin: auto;
}

header nav img:nth-of-type(3){
	font-size: 2em;
	margin: auto 0 auto auto;
}

header form {
	display: flex;
	justify-content: space-between;
	margin: 0.6em;
	border: 1px solid black;
}
header input[type="search"] {
	width: calc(100% - 3em);
	text-indent: 0.6em;
	border: none;
}
header button[type="submit"] {
	width: 2.5em;
	height: 2.5em;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
	border: none;
}

main > section:first-of-type img {
	width: 100%;
}

main > section:nth-of-type(2) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(3) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(4) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(5) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

main > section:nth-of-type(6) section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6em;
	padding-left: 1em;
	background-color: #f6f5f5;
}

/* main > section:nth-of-type(2) section p {

} */
main > section:nth-of-type(2) section img {
	width: 30%;
}

main > section:nth-of-type(3) section img {
	width: 30%;
}

main > section:nth-of-type(4) section img {
	width: 30%;
}

main > section:nth-of-type(5) section img {
	width: 30%;
}

main > section:nth-of-type(6) section img {
	width: 30%;
}

main > section:nth-of-type(4) img {
	width: 100%;
}

main > section:nth-of-type(3) p {
	text-align: center;
	margin: 0.6em;
}

main > section:nth-of-type(4) h1 {
	background-color: beige;
}

main > section:nth-of-type(4) p {
	background-color: beige;
}

main > section:nth-of-type(4) button {
	background-color: beige;
}

main > section:nth-of-type(5) h2 {
	background-color: pink;
}

main > section:nth-of-type(5) p {
	background-color: pink;
}

main > section:nth-of-type(5) button {
	background-color: pink;
}

main > section:nth-of-type(6) h3 {
	background-color: #EDEDED;
}

main > section:nth-of-type(6) p {
	background-color: #EDEDED;
}

main > section:nth-of-type(7) p {
	background-color: #EDEDED;
	color: pink;
	padding-bottom: 1em;
}


footer > section:nth-of-type(1) {
	background-color: #EDEDED;
	padding-bottom: 1em;
}

footer > section:nth-of-type(2) {
	background-color: #EDEDED;
	padding-bottom: 1em;
}

footer > section:nth-of-type(3) {
	background-color: #EDEDED;
	padding-bottom: 1em;
}

footer > section:nth-of-type(4) img {
	width: 2em;
}

footer > section:nth-of-type(4) {
	background-color: black;
	color: white;
}

footer > section:nth-of-type(5) img {
	width: 2em;
}

h1,h2 {
    color:black;
    background-color:white;
}

h3 {
	font-size: 1em;
    color:black;
    background-color:white;
    text-align:center;
}

footer {
	background-color: pink;
}